.form {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

.form__fieldset {
    border-radius: 20px;
    background-color: white;
    color: #6b6565;
    border: 5px solid #632d2de7;
    margin: 0 30px;
}

.form__legend {
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    border: 5px solid #632d2de7;
    background-color: #3e3f39;
    border-radius: 10px;
    color: aqua;
}

.form__radio {
    list-style: none;
    display: inline-block;
    width: 49%;
    text-align: center;
    padding-inline-start: 0;
}

.form__radioOption {
    padding: 10px;
}

.form__input {
    margin-right: 20px;
}

.form__label {
    font-weight: bold;
}

.form__amountField {
    text-align: center;
}

.form__amountInput {
    margin-left: 30px;
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

.form__result {
    text-align: center;
}

.form__resultNumber {
    display: block;
    margin-top: 20px;
    font-size: 25px;
}

.form__button {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    min-width: 50%;
    padding: 10px;
    cursor: pointer;
    border: 5px solid #632d2de7;
    border-radius: 10px;
    background-color: #3e3f39;
    color: aqua;
    font-size: 20px;
}