html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment:fixed ;
    font-weight: 700;
}